* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.4) 50%
    ),
    url(/image/tasty-breakfast-with-eggs-bacon-bread-served-plate-dark-background_1220-5623.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar {
  background: black;
}
.icon {
  float: left;
  width: 200px;
  height: 80px;
}
.logo {
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
.menu {
  width: 520px;
  height: 70px;
}
ul {
  display: grid;
  grid-template-columns: repeat(7, 5rem);
  justify-content: center;
  align-items: center;
}
ul li {
  margin-left: 10rem;
  line-height: 60px;
  list-style: none;
  font-size: 20px;
}
.num {
  margin-left: 17rem;
  color: #f6f6f68f;
}
.phone {
  color: #c8a96a;
}
ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-family: arial;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
ul li a:hover {
  color: #c8a96a;
}
.duyme {
  margin-top: -3rem;
  margin-left: 64rem;
}
.btn {
  height: 50px;
  width: 170px;
  text-transform: uppercase;
  padding: 11px;
  border: 1px solid #c8a96a;
  cursor: pointer;
  color: whitesmoke;
  font-size: small;
  font-weight: 600;
  border-radius: 4px;
  transition: 0.4s;
  background: #c8a96a -webkit-linear-gradient(0deg, transparent 50%, whitesmoke
        50%);
  background-size: 340px 50px;
}
.btn:hover {
  background-position: 170px 0;
  color: #c8a96a;
}
@media screen and (max-width: 520px) {
  .menu, .navbar, button, ul {
    width: 100%;
  }
}
.navbut {
  margin-top: 6.5rem;
  display: grid;
  grid-template-columns: 10rem 10rem;
}
.cevre {
  padding-top: 2rem;
  padding-left: 2rem;
  width: 10rem;
  height: 10rem;
  margin-top: -2.3rem;
  border-radius: 6rem;
  border: 1px solid rgba(245, 245, 245, 0.466);
  margin-left: 62rem;
  background: none;
  cursor: w-resize;
}
.dre {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  background-color: white;
  cursor: pointer;
}
.drdre {
  margin-top: 3.3rem;
  margin-left: 3.5rem;
}
.btn1 {
  margin-right: 40rem;
  margin-left: 10px;
  height: 40px;
  border: none;
  background: rgba(245, 245, 245, 0.2);
  width: 45px;
  color: white;
  border-radius: 4px;
  transition: 0.5s;
}
.btn2 {
  margin-left: 65rem;
  margin-right: 10px;
  border: none;
  color: white;
  border-radius: 4px;
  background-color: rgba(245, 245, 245, 0.2);
  height: 40px;
  width: 45px;
  transition: 0.5s;
}
.btn1:hover,
.btn2:hover {
  background-color: #c8a96a;
  cursor: pointer;
}
.items {
  max-width: 100%;
  max-height: 100%;
}
.yazi {
  margin-top: 13rem;
  width: 10rem;
}
.yzi {
  color: white;
  font-size: 12vw;
  font-weight: 100;
  cursor: w-resize;
  margin-left: 3rem;
  letter-spacing: -4.5px;
  text-transform: uppercase;
}
.picture {
  min-width: 100%;
  min-height: 100%;
  margin-top: -33rem;
  margin-left: 28rem;
}
.pic {
  cursor: w-resize;
  border-radius: 8rem;
}
.but {
  margin-top: 6rem;
  margin-left: 8rem;
}
.butun {
  width: 13rem;
  height: 3.5rem;
  text-transform: uppercase;
  background: rgba(82, 83, 83, 0.568) -webkit-linear-gradient(0deg, transparent
        50%, whitesmoke 50%);
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
  border: solid rgb(117, 112, 112);
  transition: 0.4s;
  margin-block-end: 11rem;
  background-size: 26rem 3.5rem;
  border-radius: 4px;
}
.butun:hover {
  background-position: 13rem 0;
  color: #c8a96a;
  border: none;
  background-color: whitesmoke;
}
.nextpage {
  background-color: rgb(244, 239, 230);
  height: 100%;
}
.page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.b {
  z-index: 2;
  width: 850px;
  margin-top: 8.5rem;
  font-family: Garamond;
  margin-left: 14rem;
}
.a,
.b {
  text-align: center;
  font-size: 52px;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  line-height: 78px;
  font-weight: 400;
}
.a {
  letter-spacing: -9.5px;
  opacity: 0.1;
  font-family: Garamond;
  font-size: 158px;
  margin-top: 10rem;
  margin-left: 1rem;
  position: absolute;
  color: #c8a96a;
}
.para {
  margin-left: -33rem;
  margin-top: 14rem;
  font-size: 18px;
  font-family: Garamond;
}
.contain {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 10rem;
  margin-left: 40px;
}
.box {
  width: 10rem;
  height: 13rem;
  background-color: white;
  text-align: center;
  font-family: "open-sans", sans-serif;
  color: #1d1d1d;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  transition: 0.5s;
}
.box:hover {
  background-color: #c8a96a;
  color: white;
}
.box3,
.colur {
  background-color: #c8a96a;
  color: white;
}
.color {
  width: 10rem;
  height: 10rem;
  transition: 0.5s;
  color: #c8a96a;
}
.shr {
  width: 10rem;
  height: 13rem;
}
.shr:hover > .color {
  color: white;
  transform: rotateY(360deg);
}
.wq {
  margin-top: -5.5rem;
}
.food1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 104vh;
  background-color: white;
  margin-top: 20rem;
  padding-top: 3rem;
}
.fod1 {
  width: 70%;
  margin-top: -3rem;
  transition: 0.35s;
}
.fod1:hover {
  margin-top: -70px;
}
.fod2 {
  width: 130%;
  margin-left: -4rem;
  border-radius: 18rem;
  margin-top: -16rem;
  transition: 0.35s;
}
.fod2:hover {
  margin-top: -280px;
}
.fod3 {
  margin-left: 6rem;
  margin-top: -3rem;
  width: 70%;
  transition: 0.35s;
}
.fod3:hover {
  margin-top: -70px;
}
.blok {
  background-color: white;
  width: 670px;
  height: 670px;
  margin-top: -56rem;
  margin-left: 18.5rem;
  border-radius: 335px;
}
.pge {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  margin-top: 4rem;
  width: 100%;
  height: 400px;
}
.bl {
  z-index: 2;
  width: 850px;
  margin-top: 8.5rem;
  margin-left: 14rem;
  font-family: Garamond;
}
.al,
.bl {
  text-align: center;
  font-size: 52px;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  line-height: 78px;
  font-weight: 400;
}
.al {
  font-family: Garamond;
  opacity: 0.1;
  font-size: 130px;
  margin-top: 10rem;
  margin-left: 1rem;
  position: absolute;
  color: #c8a96a;
  font-weight: 400;
  letter-spacing: -7px;
}
.pre {
  margin-left: -37rem;
  margin-top: 14rem;
  font-size: 18px;
  font-family: Garamond;
}
.im {
  margin-top: -11rem;
  margin-left: 62rem;
}
.bolme {
  background-color: white;
  height: 700px;
}
.chef {
  margin-top: -3rem;
  margin-left: 9.4rem;
}
article {
  margin-right: 6rem;
}
.sed {
  margin-top: -30rem;
  margin-left: 40rem;
  font-size: 28px;
  font-family: Century Gothic;
}
.dymex {
  margin-top: 5rem;
  margin-left: 40rem;
  border-radius: 5px;
  border: none;
  background: #c8a96a -webkit-linear-gradient(0deg, transparent 50%, black 50%);
  background-size: 24.4rem 3.3rem;
  transition: 0.4s;
  color: white;
  width: 12.2rem;
  height: 3.3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}
.dymex:hover {
  background-position: 12.2rem 0;
}
.pge2 {
  width: 100%;
  height: 1058px;
  background-color: rgb(244, 239, 230);
}
.jpg {
  float: right;
}
.leter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.our {
  z-index: 2;
  width: 850px;
  margin-top: 8.5rem;
  margin-left: 14rem;
  font-family: Garamond;
}
.out,
.our {
  text-align: center;
  font-size: 52px;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  line-height: 78px;
  font-weight: 400;
}
.out {
  font-family: Garamond;
  opacity: 0.1;
  font-size: 140px;
  margin-top: 10rem;
  margin-left: 1rem;
  position: absolute;
  color: #c8a96a;
  font-weight: 400;
  letter-spacing: -15px;
}
.for {
  margin-left: -37rem;
  margin-top: 14rem;
  font-size: 21px;
  font-family: Garamond;
}

.duymeler {
  margin-top: 8.5rem;
  display: grid;
  row-gap: 3.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.duym {
  background-color: white;
  width: 590px;
  border: 3.3px solid white;
  border-radius: 8px;
  font-family: sans-serif;
  line-height: 22px;
  margin-top: -8px;
  font-size: 15px;
  height: 110px;
  transition: 0.4s;
}
.mmc {
  margin-left: 2rem;
  margin-right: 10px;
}
.nfs {
  margin-left: 1rem;
}
.mki {
  border: 3.3px #c8a96a dashed;
}
.duym:hover {
  border: 3.3px #c8a96a dashed;
}
.sd {
  margin-top: 4.5rem;
  width: 100%;
  height: 400px;
  background-color: white;
}
.ff {
  float: left;
  margin-top: -27.5rem;
}
.ppp {
  font-family: Garamond;
  font-size: 28px;
  margin-top: 25px;
  margin-left: 2.5rem;
}
.tta {
  margin-left: 2.5rem;
  margin-top: -5px;
  font-size: 19px;
  font-family: Garamond;
}
.pul {
  margin-left: 27rem;
  font-size: 60px;
  font-family: Garamond;
  color: #c8a96a;
  margin-top: -2.5rem;
}